*.elc
*~
.*.lock
.cache/
.cvsignore
.svn
/.achievements
/.cask/
/.emacs.desktop
/.historian
/.lsp-session-v1
/.mc-lists.el
/.org-id-locations
/.session
/.smex-items
/.sqli_history
/.sx/
/.uptimes.el
/TODO
/anaconda-mode/
/auto-save-list
/bookmarks
/custom.el
/ditaa*.jar
/eln-cache/
/elpa
/elpa-*
/emms/
/eshell
/forge-*.sqlite
/forge-database.sqlite
/frame-restore-parameters
/helm-adaptive-history
/history
/ido.last
/image-dired/
/magithub
/network-security.data
/newsticker
/org-clock-save.el
/places
/plantuml.jar
/projectile-bookmarks.eld
/projectile.cache
/projects
/rake.cache
/recentf
/session.*
/smex-items
/swank
/thumbs/
/tramp
/transient
/tree-sitter
/url/cache
/var
/viper
CVS
\#*
cookies
